@layer components {
  .blog-post-preview {
    margin-bottom: 1.5rem;
    padding: 0.5em;
    border-radius: 8px;
    outline: transparent solid 2px;
    transition: outline 0.2s ease-in-out;

    &:hover {
      outline: var(--color-border) solid 2px;
    }
  }

  .blog-post-preview-link {
    text-decoration: none;
    color: currentcolor;
  }

  .blog-post-preview-title {
    font-family: var(--alright-font-family);
    font-size: 1.6rem;
    margin-bottom: 0.4em;

    & + p {
      margin-top: 0;
    }

    &:hover {
      color: var(--color-background);
      text-decoration: underline;
    }
  }

  .blog-post-preview-date {
    font-family: var(--alright-font-family);
    color: var(--muted-text-color);
  }

  .blog-post-preview-outdated {
    background-color: var(--offset-background);
    color: var(--muted-text-color);
    border-radius: 8px;
    align-items: center;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .tag {
      background-color: var(--color-30);
      padding: 0.2em 0.8em;
      border-radius: 1em;
      color: var(--reverse-text-color);
      font-family: var(--alright-font-family);
      font-size: 0.8em;
    }

    .blog-post-preview-title {
      font-size: 1em;
      margin-bottom: 0;
    }
  }
}
