.form-field {
  margin-bottom: 1em;

  label {
    display: block;

    &.required:after {
      color: var(--red);
      content: " \2605";
      line-height: 1rem;
    }
  }

  input,
  textarea {
    padding: 0.4em 0.6em;
    width: 100%;
    font-family: inherit;
    border: 1px solid var(--muted-text-color);
    border-radius: 6px;
    font-size: 1em;
  }
}

.button {
  border: none;
  background: var(--color-50);
  color: var(--reverse-text-color);
  font-size: 1rem;
  font-family: var(--alright-font-family);
  border: none;
  width: 100%;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: var(--color-60);
  }

  &:active {
    background: var(--color-70);
    transform: translateY(2px);
  }

  &:disabled {
    background: var(--muted-text-color);
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
  }
}

.form-message {
  font-size: 0.8em;
}

.guestbook-form {
  margin-bottom: var(--vertical-rhythm);
  position: sticky;
  top: 1em;
}

@layer components {
  .guestbook-entry-list-item {
    border: 2px solid var(--offset-background);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &.with-response {
      margin-bottom: 3em;
    }
  }

  .guestbook-entry-name {
    font-family: var(--alright-font-family);
    color: var(--color-50);
    font-size: 1.3em;
    display: block;
  }

  .guestbook-entry-date {
    color: currentColor;
    text-decoration: none;
    flex-shrink: 0;
  }

  .guestbook-entry-date-absolute {
    font-family: var(--mono-font-family);
    font-size: 0.8em;
    // opacity: 0;
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: -2.5ex;
    right: 1em;
    background-color: var(--offset-background);
    padding: 0.1em 0.5em;
    margin-left: -0.5em;
    border-radius: 2px;
    opacity: 0;

    .guestbook-entry-list-item:hover & {
      opacity: 1;
    }
  }

  .guestbook-entry-list-item-header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: top;
  }

  .guestbook-entry-url {
    font-size: 0.8em;
    font-family: var(--mono-font-family);
  }

  .guestbook-entry-message {
    margin-top: 0.25em;
    line-height: 1.3;
  }

  .guestbook-entry-response {
    border: 2px solid var(--offset-background);
    padding: 0.75em;
    padding-left: 3em;
    border-radius: 8px;
    font-size: 0.9em;
    position: relative;
    margin-top: -4em;
    top: 3em;
    right: -1em;
    background-color: white;
    overflow: hidden;
  }

  .guestbook-entry-response-attribution {
    position: absolute;
    background-color: var(--color-50);
    top: 0;
    left: 0;
    border-bottom-right-radius: 8px;
    padding: 0.25em 0.5em;
    font-family: var(--alright-font-family);
    color: var(--reverse-text-color);
  }
}
