.form-field {
  margin-bottom: 1em;

  label {
    display: block;

    &.required:after {
      color: var(--feedback-important);
      content: " \2605";
      font-size: 1em;
      line-height: 1rem;
      vertical-align: top;
    }
  }

  input,
  textarea {
    padding: 0.3em 0.5em;
    width: 100%;
    font-family: var(--mono-font-family);
    border: 1px solid var(--muted-text-color);
    border-radius: 6px;
    font-size: 0.8em;
  }
}

.button {
  border: none;
  background: var(--color-50);
  color: var(--reverse-text-color);
  font-size: 1rem;
  font-family: var(--alright-font-family);
  width: 100%;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    background: var(--color-60);
  }

  &:active {
    background: var(--color-70);
    transform: translateY(2px);
  }

  &:disabled {
    background: var(--muted-text-color);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.form-message {
  font-family: var(--mono-font-family);
  font-size: 0.8em;
}

.guestbook-form {
  margin-bottom: var(--vertical-rhythm);
  position: sticky;
  top: 1em;
}

@layer components {
  .guestbook-entry-list-item {
    border: 2px solid var(--color-border);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;
  }

  .guestbook-entry-date {
    display: flex;
    align-items: baseline;
    gap: 1em;
    transition: transform 0.5s ease-in-out;
    color: currentColor;
    text-decoration: none;
  }

  .guestbook-entry-date-absolute {
    font-family: var(--mono-font-family);
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.2s;
  }

  .guestbook-entry-date-absolute-visible {
    opacity: 1;
  }

  .guestbook-entry-name {
    font-family: var(--alright-font-family);
    color: var(--color-50);
    font-size: 1.3em;
  }

  .guestbook-entry-list-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .guestbook-entry-url {
    font-size: 0.85em;
  }

  .guestbook-entry-message {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    line-height: 1.3;
  }

  .guestbook-entry-reply {
    background-color: hsla(var(--theme-hue), 4%, 21%);
    color: var(--reverse-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    font-family: var(--mono-font-family);
    font-size: 0.8em;
    transition: all 0.2s ease-in-out;
    width: 2em;

    position: absolute;
    bottom: -3px;
    right: -3px;
    border-radius: 6px;

    p {
      margin: 0;
      display: none;
    }

    &:hover {
      width: calc(100%);

      p {
        display: block;
      }
    }
  }
}
