.form-field {
  margin-bottom: 1em;

  label {
    display: block;

    &.required:after {
      color: var(--red);
      content: " \2605";
    }
  }

  input,
  textarea {
    padding: 0.3em 0.5em;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid var(--muted-text-color);
  }
}

.button {
  border: none;
  background: var(--color-50);
  color: var(--reverse-text-color);
  font-size: 1rem;
  font-family: "Alright";
  border: none;
  width: 100%;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: var(--color-60);
  }

  &:active {
    background: var(--color-70);
    transform: translateY(2px);
  }

  &:disabled {
    background: var(--muted-text-color);
    cursor: not-allowed;
  }
}

.form-message {
  font-family: sans-serif;
  font-size: 0.8em;
}

@layer components {
  .guestbook-entry-list-item {
    border: 2px solid var(--offset-background);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;
  }

  .guestbook-entry-date {
    display: flex;
    gap: 1em;
    transition: transform 0.5s ease-in-out;
  }

  .guestbook-entry-date-absolute {
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.2s;
  }

  .guestbook-entry-date-absolute-visible {
    opacity: 1;
  }

  .guestbook-entry-name {
    font-family: "Alright";
    color: var(--color-50);
    font-size: 1.3em;
  }

  .guestbook-entry-list-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .guestbook-entry-url {
    font-size: 0.85em;
  }

  .guestbook-entry-message {
    margin-top: 0.25em;
    line-height: 1.3;
  }
}
