@layer components {
  .page-title {
    font-size: clamp(2.5rem, 1.5rem + 4vw, 4.5rem);
    font-family: var(--alright-font-family);
    font-weight: 900;
    font-style: italic;
    color: white;
    margin: 0;
  }

  .page-title-top-space {
    margin-top: 10vh;
  }

  .page-title-subtitle {
    font-family: var(--alright-font-family);
    color: var(--muted-reverse-text-color);
    font-size: 1.3em;
  }

  .page-title-flex-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
