@layer components {
  .page-title {
    font-family: var(--alright-font-family);
    font-size: 3.5rem;
    letter-spacing: -0.03em;
    line-height: 1.05;
    font-weight: 900;
    font-style: italic;
    color: white;
    margin: 0;

    &.long {
      @media only screen and (max-width: 550px) {
        font-size: 2.75rem;
      }
    }
  }

  .page-title-top-space {
    margin-top: 10vh;
  }

  .page-title-subtitle {
    font-family: var(--alright-font-family);
    color: var(--muted-reverse-text-color);
    font-size: 1.3em;
  }

  .page-title-flex-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
