.nameplate {
  font-family: var(--alright-font-family);
  font-size: 1.5rem;
  margin-bottom: 0.3em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.page-header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateZ(0);

  @media only screen and (max-width: 550px) {
    overflow-x: auto;
    margin: 0 -1em;
    padding: 0 1em 1em;
  }
}

.page-header-list-item,
.page-header-nav li {
  display: inline;
  margin-right: 2em;
  font-family: var(--alright-font-family);
  text-transform: lowercase;

  @media only screen and (max-width: 550px) {
    margin-right: 1.25em;
    font-size: 0.9em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
