@use "reset";
@use "colors";
@use "typography";
@use "grid";

@use "components/blog-post-preview";
@use "components/page-title";
@use "components/page-footer";
@use "components/racing-stripe";

@use "../src/markdoc/components/note/note.scss";
@use "../src/markdoc/components/figure/figure.scss";
@use "../src/markdoc/components/footnote/footnote.scss";

@layer reset, defaults, components;

body {
  --vertical-rhythm: 1.4em;
}

.blog-post-aside {
  background: var(--offset-background);

  padding: 1em;
  border-radius: 8px;

  p {
    margin: 0;
  }

  a {
    color: currentColor;
  }
}

.blog-post-aside-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: end;
}

.section-title {
  font-size: clamp(3rem, 2.5rem + 3vw, 4rem);
  font-family: "Alright";
  font-weight: 900;
  font-style: italic;
  color: hsla(0, 0%, 0%, 50%);
  margin-bottom: 0.4em;
}

.read-more-link {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Alright";
  font-size: 1.3rem;
  color: var(--color-background);

  a {
    color: currentColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nameplate {
  font-family: "Alright";
  font-size: 1.5rem;
  margin-bottom: 0.3em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.page-header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header-list-item,
.page-header-nav li {
  display: inline;
  margin-right: 2em;
  font-family: "Alright";
  text-transform: lowercase;

  a {
    text-decoration: none;
    color: inherit;
  }
}

hr {
  border: none;
  border-top: 4px solid var(--color-background);
  border-radius: 2px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  margin-bottom: 1em;
  img {
    height: auto;
  }
}

.project-list-item {
  border: 2px solid var(--offset-background);
  padding: 0.75em;
  border-radius: 1em;

  img {
    margin: -0.3em;
    max-width: calc(100% + 0.6em);
    border-radius: 0.7em;
  }

  h2 {
    margin-top: 1em;
  }
}
