@use "reset";
@use "colors";
@use "typography";
@use "grid";

@use "components/blog-post-preview";
@use "components/page-title";
@use "components/page-footer";
@use "components/page-header";
@use "components/racing-stripe";
@use "components/guestbook-entry";
@use "components/projects-grid";
@use "components/project-list-item";
@use "components/home-intro";

@use "../src/markdoc/components/note/note.scss";
@use "../src/markdoc/components/figure/figure.scss";
@use "../src/markdoc/components/footnote/footnote.scss";

@layer reset, defaults, components;

body {
  --vertical-rhythm: 1.4em;
}

.blog-post-aside {
  background: var(--offset-background);

  padding: 1em;
  border-radius: 8px;

  p {
    margin: 0;
  }

  a {
    color: currentColor;
  }
}

.blog-post-aside-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: end;
  position: sticky;
  bottom: 2rem;

  @media only screen and (max-width: 768px) {
    position: static;
    margin-top: 3rem;
  }
}

.section-title {
  font-size: clamp(3rem, 2.5rem + 3vw, 4rem);
  font-family: var(--alright-font-family);
  font-weight: 900;
  font-style: italic;
  color: var(--muted-text-color);
  margin-bottom: 0.4em;
}

.read-more-link {
  display: flex;
  flex-direction: row-reverse;
  font-family: var(--alright-font-family);
  font-size: 1.3rem;
  color: var(--color-background);

  a {
    color: currentColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

hr {
  border: none;
  border-top: 4px solid var(--color-background);
  border-radius: 2px;
}
